USE [master]
GO
/****** Object:  Database [PDV]    Script Date: 13/01/2022 21:34:21 ******/
CREATE DATABASE [PDV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PDV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PDV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PDV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PDV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PDV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PDV]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 13/01/2022 21:34:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[Id_Adm] [int] IDENTITY(1,1) NOT NULL,
	[Login_Adm] [varchar](255) NULL,
	[Name_Adm] [varchar](255) NULL,
	[Password_Adm] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Adm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 13/01/2022 21:34:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id_Client] [int] IDENTITY(1,1) NOT NULL,
	[Name_Client] [varchar](255) NULL,
	[CPF_Client] [varchar](11) NULL,
	[Email_Client] [varchar](255) NULL,
	[Fone_Client] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Order]    Script Date: 13/01/2022 21:34:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Order](
	[Id_Order] [int] NULL,
	[Id_Product] [int] NULL,
	[Quant_Item] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 13/01/2022 21:34:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Form] [varchar](255) NULL,
	[Id_Client] [int] NULL,
	[Date_Order] [date] NULL,
	[Amount_Order] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/01/2022 21:34:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id_Product] [int] IDENTITY(1,1) NOT NULL,
	[Description_Product] [varchar](255) NULL,
	[Quant_Product] [int] NOT NULL,
	[Value_Product] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item_Order]  WITH CHECK ADD FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Order] ([Id_Order])
GO
ALTER TABLE [dbo].[Item_Order]  WITH CHECK ADD FOREIGN KEY([Id_Product])
REFERENCES [dbo].[Product] ([Id_Product])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([Id_Client])
REFERENCES [dbo].[Client] ([Id_Client])
GO
USE [master]
GO
